:root{
    --primario:rgb(154, 226, 81);
    --terciario:rgb(100, 146, 0);
    --secundario:rgba(227, 255, 71, 0.507);
    --white:white;
    --padding:0,35rem;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;    /*1rem= 16px*/
    font-family:"Elms Sans", sans-serif;
}

@media(min-width:768px){
    .navfondo{
        flex-direction: row;
    }
}

.navfondo{
    background-color: rgb(154, 226, 81);
    display: flex;
    justify-content: space-around;
}

.navegacion a{
    margin: auto;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: var(--padding);
}

.navegacion a:hover{
    color: var(--terciario);
    background-color: var(--secundario);
}

h1{
    font-size: 2rem;
    font-weight: 400;
}

h2{
    font-size: 1.5rem;
}

.titulo{
    color: rgb(154, 226, 81);
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    color: rgb(214, 64, 64);
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
    font-weight: 1;
}

