:root{
    --primario:rgb(154, 226, 81);
    --terciario:rgb(100, 146, 0);
    --secundario:rgb(227, 255, 71);
    --white:white;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;    /*1rem= 16px*/
    font-family:"Elms Sans", sans-serif;
}

.navfondo{
    background-color: rgb(154, 226, 81);
    display: flex;
    justify-content: space-around;
}

.contenedor a{
    margin: 75%;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}

h1{
    font-size: 2rem;
    font-weight: 400;
}

h2{
    font-size: 1.5rem;
}

.titulo{
    color: rgb(154, 226, 81);
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    color: rgb(214, 64, 64);
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
    font-weight: 1;
}

