:root{
    --primario:rgb(154, 226, 81);
    --terciario:rgb(100, 146, 0);
    --secundario:rgba(227, 255, 71, 0.507);
    --white:white;
    --padding:0,35rem;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;    /*1rem= 16px*/
    font-family:"Elms Sans", sans-serif;
}

h1{
    font-size: 2rem;
    font-weight: 400;
}

h2{
    font-size: 1.5rem;
}

.titulo{
    color: rgb(154, 226, 81);
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    color: rgb(214, 64, 64);
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
    font-weight: 1;
}

.navegacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primario);
}

@media(min-width:768px){
    .navegacion{
        flex-direction: row;
    }
}

.navegacion a{ 
    margin: auto;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: var(--padding);
}

.navegacion a:hover{
    color: var(--terciario);
    background-color: var(--secundario);
}
/*Estilos para el hero*/
.hero{
    background-image: url('/img/hero-768x1024.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}
.hcontenido{
    background-color: black;
    color:white;
    position: absolute;
    top: 0px;
    left: ;
}