:root{
    --primario:rgb(154, 226, 81);
    --terciario:rgb(100, 146, 0);
    --secundario:rgba(227, 255, 71, 0.507);
    --white:white;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;    /*1rem= 16px*/
    font-family:"Elms Sans", sans-serif;
}

h1{
    font-size: 3.8rem;
    font-weight: 400;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.6rem;
}

h1,h2,h3{
    text-align: center;
}

.boton {
    background-color: var(--primario);  
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width:760px) {
    .boton{
        width: auto;
    }
}

.titulo{
    color: rgb(154, 226, 81);
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    color: rgb(214, 64, 64);
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    font-weight: 1;
}

.navegacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primario);
}

@media(min-width:480px){
    .navegacion{
        flex-direction: row;
    }
}

/*Barra de navegacion*/
.navegacion a{ 
    margin: auto;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 0,35;
}

/*Cuando el raton esta encima*/
.navegacion a:hover{
    color: var(--terciario);
    background-color: var(--secundario);
}

/*Foto de fondo*/
.hero{
    background-image: url('/img/hero-768x1024.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}
.hcontenido{
    background-color: rgba(0,0,0,0.5);
    color:white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion{
    display: flex;
    justify-content: center;
}

.micontenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

@media (min-width:768px) {
    .micontenido{
        flex-direction: row;
    }    
}

.contenido h3{
    font-weight: normal;
    color: var(--primario);
}

.contenido p{
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
}

.Icono{
    background-color: var(--terciario);
}